@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body{
    font-family: "Inter";
}

.App{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    max-width: 1800px;
    margin: auto;   
}
.app-heading{
    font-weight: 600;
    padding-left: 40px;
}
.Admin-panel{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    padding: 20px 40px;
}
.modal{
    width: 600px;
    height: 800px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    padding: 14px 30px;
}
.modal-title{
    font-weight: 500;
}
.modal-inner{
    display: flex;
    gap: 10px;
}
.label{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-bottom: 15px;
    color: #808080;
    font-size: 16px;
    font-weight: 600;
}
.input{
    width: 500px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.582);
    padding: 12px 10px;
    margin-top: 10px;
    font-size: 14px;
}
.input-number{
    width: 244px;
}
.textarea{
    margin-top: 12px;
    width: 500px;
    height: 80px;
    padding: 16px 20px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.582);
}
.addImg{
    width: 750px;
    height: 750px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 40px 40px;
    position: relative;
}

.uploadImage{
    width: 300px;
    height: 250px;
    background-color: #D9D9D9;
    color: #808080;
    border-radius: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
    cursor: pointer;
}

.image{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 50px;
}

.uploadVideo{
    width: 640px;
    height: 260px;
    background-color: #D9D9D9;
    color: #808080;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 50px;
}

.add-user{
    padding: 14px 24px;
    background-color: #FFC865;
    border: none;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 60px;
}

.hidden{
    display: none;
}


@media screen and (max-width:500px){
    .container{
        width: 100%;
        max-width: 460px;
        margin: auto;   
    }
    .Admin-panel{
        display: flex;
        flex-direction: column;
    }

    .modal{
        width: 430px;
        height: 900px;
        border-radius: 10px;
        background-color: #fff;
        border: 2px solid #000;
        display: flex;
        flex-direction: column;
        padding: 14px 20px;
    }

    .modal-inner{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .label{
        display: flex;
        flex-direction: column;
        align-items: self-start;
        margin-bottom: 25px;
        color: #808080;
        font-size: 16px;
        font-weight: 600;
    }
    .input{
        width: 380px;
        border-radius: 10px;
        border: 2px solid rgba(128, 128, 128, 0.582);
        padding: 16px 20px;
        margin-top: 12px;
        font-size: 15px;
    }
    .input-number{
        width: 380px;
    }

    .textarea{
        margin-top: 12px;
        width: 380px;
        height: 60px;
        padding: 16px 20px;
        font-size: 15px;
        font-weight: 500;
    }

    .addImg{
        width: 400px;
        height: 780px;
        border-radius: 10px;
        border: 2px solid #000;
        padding: 40px 40px;
        position: relative;
    }

    .uploadImage{
        width: 340px;
        height: 250px;
        background-color: #D9D9D9;
        color: #808080;
        border-radius: 10px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 50px;
    }
    
    .uploadVideo{
        width: 340px;
        height: 240px;
        background-color: #D9D9D9;
        color: #808080;
        border-radius: 10px;
        font-size: 28px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 50px;
    }
    .add-user{
        padding: 11px 22px;
        background-color: #FFC865;
        border: none;
        outline: none;
        border-radius: 6px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        bottom: 30px;
        right: 220px;
    }
}


.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title .button{
    height: auto;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 500;
    font-size: 24px;
    margin-right: 80px;
    text-decoration: none;
    color: #000;
}

.image:hover ~ .chenge{
    bottom: 0;
}

.chenge:hover{
    bottom: 0;
}